{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{% block content %}
{#    content#}
    <div class="container">
    <div class="row">
    <div class="col-md-3 offset-md-3">Work experience information</div>
        <div class="col-md-3 offset-md-3">Education information</div>
        <div class="container">
            <div class="col-md-3 offset-md-3"><a href="{% url 'work_review' %}" class="btn btn-default btn-lg" role="work_review">Review</a>
        </div>
        <div class="container">
            <div class="col-md-3 offset-md-3"><a href="{% url 'education_review' %}" class="btn btn-default btn-lg" role="education_review">Review</a>
        </div>
        </div>

    <div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Overview</a>
                        </h4>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                       <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="{% url 'profile' %}">Personal information</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Request</a>
                                    </td>
                                </tr>
{#                                <a class="glyphicon glyphicon-flash text-success" href="{% url 'profile' %}">Personal information</a>#}

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Account Setting</a>
                                    </td>
                                </tr>
{#                                <a class="ml-2" href="{% url 'blog-confirmation' %}">confirmation</a>#}
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="{% url 'blog-confirmation' %}">Confirmation</a>
                                                                     <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Logout</a>
                        </h4>
                    </div>

                     <html>

                    {% endblock content %}