{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% include 'users/menuCandidate.html' %}
    <div class="content-section">
        <h1> It worked</h1>
        {% for item in item %}
        <div id="confirmation>">
            <h3> Successfully added the entry!</h3>
        </div>
        {% endfor %}
        <div class="border-top pt-3">
            <small class="text-muted">
            </small>
        </div>
    </div>
    {% endblock content %}
