{% block menu %}
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-folder-close">
                            </span>Overview
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="table">

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-pencil text-primary"></span><a href="{% url 'search' %}">Add candidate Details</a>
                                </td>
                            </tr>



                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-file text-info"></span><a href="{% url 'searchResume' %}">Search for candidate resumes</a>
                                </td>
                            </tr>

                            

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-comment text-success"></span><a href="{% url 'logout' %}">Logout</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock menu %}