{% extends 'users/education.html' %}
{% load crispy_forms_tags %}
{% block data %}
<div class="displayAll">
    <h1> Candidate Search</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search below</legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </div>
    </form>
    <h1>Results shown below</h1>
    <ul>
        {% if not user %}
            <p>Search to get started</p>
        {% else %}
            {% for user in users %}
            <li><h3><a href="/candidate/{{user.id}}">{{ user.fname|title }} {{user.sname|title}}</a></h3></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
{% endblock data %}
