{% extends 'users/education.html' %}
{% load crispy_forms_tags %}
{% block data %}
<div class="displayAll">
    <h1> Candidate Search</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search below</legend>
            {{ form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </div>
    </form>
    <ul>
        {% for user in users %}
        <p>Result below</p>
        <li><h2>{{ user.fname }} {{user.sname}} Born on {{user.dateOfBirth}}</h2></li>
        {% endfor %}
    </ul>
</div>
{% endblock data %}
