{% extends "blog/base.html" %}
{#{% load crispy_forms_tags %}#}
{#{% load crispy_forms_tags %}#}
{% block content %}

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Personal details</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">First Name</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Last Name</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Multiple Radios (inline) -->
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="radios">Gender</label>#}
{#  <div class="col-md-4">#}
{#    <label class="radio-inline" for="radios-0">#}
{#      <input type="radio" name="radios" id="radios-0" value="Male" checked="checked">#}
{#      Male#}
{#    </label>#}
{#    <label class="radio-inline" for="radios-1">#}
{#      <input type="radio" name="radios" id="radios-1" value="Female">#}
{#      Female#}
{#    </label>#}
{#  </div>#}
{#</div>#}

<!-- Select Basic -->
    <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">I    D</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="selectbasic">Nationality</label>#}
{#  <div class="col-md-4">#}
{#    <select id="selectbasic" name="selectbasic" class="form-control">#}
{#      <option value="1">Option one</option>#}
{#      <option value="2">Option two</option>#}
{#    </select>#}
{#  </div>#}
{#</div>#}

<!-- Select Basic -->
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="selectbasic">Place of birth</label>#}
{#  <div class="col-md-4">#}
{#    <select id="selectbasic" name="selectbasic" class="form-control">#}
{#      <option value="1">Option one</option>#}
{#      <option value="2">Option two</option>#}
{#    </select>#}
{#  </div>#}
{#</div>#}
        <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Duration</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>


<!-- Select Basic -->
{#<div class="form-group">#}
{#    <label class="control-label col-md-4" for="registration-date">Date of birth:</label>#}
{#    <div class="col-md-4">#}
{#        <div class="input-group registration-date-time">#}
{#        	<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>#}
{#		    <input class="form-control" name="registration_date" id="registration-date" type="date">#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">City of work</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Work address</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Company</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Contribution</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>

<!-- Textarea -->
    <div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Comment Box</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

  </div>
</div>
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="textarea">Home address</label>#}
{#  <div class="col-md-4">#}
{#    <textarea class="form-control" id="textarea" name="textarea"></textarea>#}
{#  </div>#}
{#</div>#}

{#<!-- Text input-->#}
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="textinput">Home telephone</label>#}
{#  <div class="col-md-4">#}
{#  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">#}
{##}
{#  </div>#}
{#</div>#}

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>

</fieldset>
</form>
{% endblock content %}