{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Overview</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                       <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="{% url 'profile' %}">Personal information</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Request</a>
                                    </td>
                                </tr>
{#                                <a class="glyphicon glyphicon-flash text-success" href="{% url 'profile' %}">Personal information</a>#}

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Account Setting</a>
                                    </td>
                                </tr>
{#                                <a class="ml-2" href="{% url 'blog-confirmation' %}">confirmation</a>#}
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="{% url 'blog-confirmation' %}">Confirmation</a>
                                                                     <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Logout</a>
                        </h4>
                    </div>
{#                    <div id="collapseTwo" class="panel-collapse collapse">#}
{#                        <div class="panel-body">#}
{#                            <table class="table">#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Invoices</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Shipments</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Tex</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        <h4 class="panel-title">#}
{#                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">#}
{#                            </span>Account</a>#}
{#                        </h4>#}
{#                    </div>#}
{#                    <div id="collapseThree" class="panel-collapse collapse">#}
{#                        <div class="panel-body">#}
{#                            <table class="table">#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Change Password</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">#}
{#                                            Delete Account</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        <h4 class="panel-title">#}
{#                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">#}
{#                            </span>Reports</a>#}
{#                        </h4>#}
{#                    </div>#}
{#                    <div id="collapseFour" class="panel-collapse collapse">#}
{#                        <div class="panel-body">#}
{#                            <table class="table">#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>#}
{#                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-9 col-md-9">#}
{#            <div class="well">#}
{#                <h1>#}
{#                    Accordion Menu With Icon</h1>#}
{#                Admin Dashboard Accordion Menu#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>

{#    <div class="content-section">#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            <fieldset class="form-group">#}
{#                <legend class="border-bottom mb-4">Log In</legend>#}
{#                {{ form|crispy }}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <button class="btn btn-outline-info" type="submit">Login</button>#}
{#            </div>#}
{#        </form>#}
{#        <div class="border-top pt-3">#}
{#            <small class="text-muted">#}
{#                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>#}
{#            </small>#}
{#        </div>#}
{#    </div>#}
{% endblock content %}
